.a_drop:hover {
	color:#000;
}
.face_btn_:hover>.username{
color:#000;

}
.a_drop{
color:#fff}
#page-content{
padding-left:380px;

}
.vertical_text{
-moz-transform: rotate(180deg);

	    -webkit-transform: rotate(180deg);

	    -o-transform: rotate(180deg);

	    writing-mode: tb-rl;
	
}
.panel-body{
	height:300px;
}
.mar-hor{


}
.articul{margin-top:-40px;}
#content-container{
margin-top:50px;

}