#content-container{
	margin-top:50px;

}

.a_drop:hover {
	color:#000;
}
.face_btn_:hover>.username{
color:#000;

}
.a_drop{
color:#fff}
#page-content{
padding-left:380px;

}
.vertical_text{
-moz-transform: rotate(180deg);

	    -webkit-transform: rotate(180deg);

	    -o-transform: rotate(180deg);

	    writing-mode: tb-rl;
	
}
.panel-body{
	height:300px;
}
.mar-hor{
margin-left:0px;

}
.articul{margin-top:-40px;}

.owl-carousel--item{

	border-right:1px solid #000;
padding:10px;
text-align:center;
}
.owl-carousel .owl-stage-outer{

	top:10px;
	
}
.owl-carousel{width:79%;}
.cont_logo{

	position:absolute;
	top:30px;
	left:0px;
}
.navbar-top-links > li > a
{
	margin-top:40px;
	height:10px;
}
.username{
height:20px;
line-height:20px; 
}
.pageheader h3, .vertical_text{
	color: #CBC7C7;
	font-size:18px;
}

.pageheader .fa, .pageheader .glyphicon {

    border: 2px solid #CBC7C7;

}
