#content-container{
	margin-top:50px;

}

.a_drop:hover {
	color:#000;
}
.face_btn_:hover>.username{
color:#000;

}
.a_drop{

color:#fff}
#page-content{
padding-left:380px;

}
.nano-content{
margin-top:40px;

}
.fa_star_{
	display:inline-block;
	color:#FF9800;
	float:right;
}
.vertical_text{
-moz-transform: rotate(180deg);

	    -webkit-transform: rotate(180deg);

	    -o-transform: rotate(180deg);

	    writing-mode: tb-rl;
	
}
.panel-body{
	height:300px;
}
.mar-hor{
margin-left:0px;

}
.articul{margin-top:-40px;}

.owl-carousel--item{

	border-right:1px solid #000;
padding:10px;
text-align:center;
}
.owl-carousel .owl-stage-outer{

	top:10px;
	
}
.owl-carousel{width:79%;margin:0 auto;}
.cont_logo{

	position:absolute;
	top:30px;
	left:0px;
}
.navbar-top-links > li > a
{
	margin-top:40px;
	height:10px;
}
.username{
height:20px;
line-height:20px; 
}
.pageheader h3, .vertical_text{
	color: #CBC7C7;
	font-size:18px;
}

.pageheader .fa, .pageheader .glyphicon {

    border: 2px solid #CBC7C7;

}
.btn-social-icon{
width:24px;
height:24px;
margin-top:7px;
}
.btn-social-icon > :first-child {

    width: 24px;
    line-height: 24px;
    font-size: 1.0em;

}
#mainnav-menu > li:hover {
border-bottom:1px solid #fff;
}
#mainnav {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002e6a+0,ffffff+100 */
background: #002e6a; /* Old browsers */
background: -moz-linear-gradient(left,  #002e6a 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #002e6a 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #002e6a 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e6a', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}